@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$background-color: #5d9bc7;
$thermostat-color: #89b6d6;
$white: #fff;
$green: #A8E1B2;
$font-family: 'Open Sans', sans-serif;

body {
  text-align: center;
  background-color: $background-color;
  color: $white;
  font-family: $font-family;
}

button {
  text-transform: uppercase;
  background: $white;
  border: 1px solid $white;
  border-radius: 3px;
  cursor: pointer;
}

.inner-container {
  width: 500px;
  max-width: 50%;
  margin: 0 auto;
  padding: 1em;
  background-color: $thermostat-color;
  border: 1px solid $white;
  border-radius: 20px;

  .display-temp {
    display: flex;
    justify-content: center;
  }
  .temperature {
    margin: 0;
    font-size: 8rem;
  }

  .celcius {
    vertical-align: super;
    font-size: 3rem;
  }

  .temp-up,
  .temp-down,
  .temp-reset {
    &:hover {
      background: darken($white, 10%);
      border: 1px solid darken($white, 10%);
    }
  }

  .current-usage {
    margin-top: 0;
    color: #000;
    letter-spacing: 1px;
  }

  .power-saving-mode {
    & > p {
      display: inline-block;
      padding-top: .8em;
    }

    .green {
      background: $green;
      border: 1px solid $green;
    }
  }
}